* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: darkslateblue;
}

/* container styles */
.container {
  background-color: whitesmoke;
  padding: 1.2rem;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(199, 199, 199);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin-top: 50px;
}

/* Input styles */
#result {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* general button style and hover */
button {
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(224, 224, 224);
}

/* buttons */
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 25px;
}

.clear {
  background-color: orangered;
  color: white;
}

.operator {
  background-color: rgb(0, 89, 255);
  color: white;
}

.number {
  background-color: white;
}

.equal {
  background-color: rgb(47, 255, 109);
  grid-row: span 3;
  color: white;
}
